<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MacroTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MacroTracker.Properties.Settings.MacroTrackerConnectionString"
      connectionString="Data Source=LAPTOPPC-1\SQLEXPRESS;Initial Catalog=MacroTracker;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <MacroTracker.Properties.Settings>
      <setting name="setGoal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="calorieGoal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fatGoal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="carbGoal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="proteinGoal" serializeAs="String">
        <value>0</value>
      </setting>
    </MacroTracker.Properties.Settings>
  </userSettings>
</configuration>